# Web Framework & Server
fastapi
uvicorn[standard]
groq

# Data Validation & Schemas
pydantic

# AI & Machine Learning
huggingface-hub

# Environment Variables Management
python-dotenv



